.product__order {
    padding: 20px;
    background-color: var(--white);
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    row-gap: var(--h-gutter);
    position: relative;
}

.add-to-favorite-btn {
    position: absolute;
    top: 20px;
    right: 20px;

    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
}

.add-to-favorite-btn__icon {
    width: 100%;
    height: 100%;
    fill: var(--dark-gray);
    transition: fill .15s;
}

.add-to-favorite-btn:hover .add-to-favorite-btn__icon {
    fill: var(--orange);
}

.add-to-favorite-btn:active .add-to-favorite-btn__icon {
    fill: var(--darkest-orange);
}

.add-to-favorite-btn.added .add-to-favorite-btn__icon{
    fill: var(--orange);
}

.product__price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.price__value {
    font-weight: 500;
    line-height: 16px;
    text-decoration: line-through;

    color: var(--dark-gray);
}

.price__discount {
    padding: 4px 8px;
    background-color: var(--orange);
    border-radius: 500px;
    color: var(--white);
    font-weight: 500;
    line-height: 16px;
}

.price__total {
    width: 100%;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    display: block;
}

.product__delivery {
    margin-bottom: 20px;
}

.product__delivery p {
    line-height: 19px;
    margin-bottom: 10px;
}

.add-to-bucket-btn {
    font-size: 20px;
    line-height: 24.2px;
    color: var(--white);
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;

    background-color: var(--orange);
}

.add-to-bucket-btn::before {
    content: url('./cart.svg');
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.add-to-bucket-btn:hover {
    background-color: var(--dark-orange);
}

.add-to-bucket-btn:active {
    box-shadow: initial;
    background-color: var(--darkest-orange);
}

.add-to-bucket-btn:disabled {
    pointer-events: none;
    background-color: var(--dark-gray);
}