@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700');

:root {
    --body: #F8FAFE;
    --white: #FFF;
    --light-gray: #F2F2F2;
    --dark-gray: #989898;
    --black: #000;
    --blue: #008CF0;
    --orange: #F36223;
    --dark-orange: #DA4A0C;
    --darkest-orange: #A93A09;

    --gutter: 30px;
    --h-gutter: calc(var(--gutter) / 2);
    --star-size: 30px;

    --header-z: 10;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    background-color: var(--body);
}

a {
    text-decoration: none;
    color: var(--blue);
    transition: color .2s;
}

a:hover,
a:focus {
    color: var(--orange);
}

a:active {
    color: var(--darkest-orange);
}

input,
textarea {
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;
    color: inherit;
}

input:focus,
textarea:focus {
    outline: none;
}

image {
    max-width: 100%;
}

button {
    border: none;
    outline: none;
    vertical-align: middle;
}

ul {
    list-style-position: inside;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
}

/* GENERAL */
.main-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 50px;
}

.df {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* button */
.btn {
    display: inline-block;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: border .2s linear, background-color .2s linear, box-shadow .1s;
}

.btn:hover {
    background-color: var(--light-gray);
}

.btn:active {
    box-shadow: 0 0 0 2px var(--darkest-orange);
}