/* FOOTER */
.footer {
    background-color: var(--light-gray);
}

.main-page__footer-block {
    margin-top: auto;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__content {
    font-size: 14px;
    padding: 30px 0;
}

.copyright {
    font-weight: bold;
}

.copyright__logo span {
    color: var(--orange);
}

.footer__text {
    margin-bottom: 0;
}

.to-top-btn--footer {
    display: inline-block;
    margin-left: auto;
}