.reviews__form {
    margin-top: 20px;
    /* avatar height + column gap */
    margin-left: calc(140px + var(--gutter));
    margin-bottom: 100px;
}

.form__group {
    border: none;
    margin-bottom: var(--gutter);
}

.form__caption {
    font-weight: 700;
    margin-bottom: var(--h-gutter);
}

.form__inputs {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter);
}

.form__input-wrapper {
    position: relative;
    width: calc(70% - var(--gutter));
}

.form__input-wrapper--rating {
    width: 30%;
}

.error-text {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;

    width: 100%;
    padding: 8px 20px;

    font-size: 12px;
    line-height: 14.5px;
    font-weight: 500;
    color: var(--white);
    background-color: var(--dark-orange);
}

.input {
    font-weight: 500;
    width: 100%;
    padding: 15px 20px;
    border: 1px solid var(--dark-gray);
    background-color: transparent;
    transition: border-color .2s linear;
}

.input::placeholder {
    color: var(--dark-gray);
    opacity: 1;
}

.form__textarea {
    resize: vertical;
    min-height: 190px;
    max-height: 290px;
}

.input:hover,
.input:focus {
    border-color: var(--black);
}

.input:invalid {
    border-color: var(--dark-orange);
}

.input:invalid:focus {
    outline: none;
}

.form__button {
    color: var(--white);
    padding: 10px 20px;
    background-color: var(--orange);
}

.form__button:hover {
    background-color: var(--dark-orange);
}

.form__button:disabled {
    pointer-events: none;
    background-color: var(--dark-gray);
}