/* HEADER */
.header {
    background-color: var(--body);
    height: 80px;
}

.main-page__header-block {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: var(--header-z);
}

.header__inner {
    display: flex;
    align-items: center;
}

.header__logo {
    padding: 15px 0;
}

.logo--header {
    height: 40px;
    cursor: pointer;
    transition: opacity .2s linear;
}

.logo--header:hover {
    opacity: .8;
}

.header__cart {
    position: relative;

    width: 40px;
    height: 40px;
    margin-left: auto;
}

.header__cart::after {
    content: attr(data-products);

    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    transform: translate(50%, -40%);

    width: 20px;
    height: 20px;

    display: none;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    line-height: 14px;
    color: var(--body);
    text-align: center;

    border-radius: 50%;
    background-color: var(--orange);
}

.header__cart.active::after {
    display: flex;
}

.cart__icon {
    width: 100%;
    height: 100%;
    
    fill: var(--black);
}