*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0F0F0;
}

.content {
    display: grid;
    place-content: center;
    width: 100%;
    min-height: 100vh;
}

.content__title {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: normal;
    color: #888888;
}