@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700');

:root {
    --body: #F8FAFE;
    --white: #FFF;
    --light-gray: #F2F2F2;
    --dark-gray: #989898;
    --black: #000;
    --blue: #008CF0;
    --orange: #F36223;
    --dark-orange: #DA4A0C;
    --darkest-orange: #A93A09;

    --gutter: 30px;
    --h-gutter: calc(var(--gutter) / 2);
    --star-size: 30px;

    --header-z: 10;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    background-color: var(--body);
}

a {
    text-decoration: none;
    color: var(--blue);
    transition: color .2s;
}

a:hover,
a:focus {
    color: var(--orange);
}

a:active {
    color: var(--darkest-orange);
}

input,
textarea {
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;
    color: inherit;
}

input:focus,
textarea:focus {
    outline: none;
}

image {
    max-width: 100%;
}

button {
    border: none;
    outline: none;
    vertical-align: middle;
}

ul {
    list-style-position: inside;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
}

/* GENERAL */
.main-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 50px;
}

.df {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* button */
.btn {
    display: inline-block;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: border .2s linear, background-color .2s linear, box-shadow .1s;
}

.btn:hover {
    background-color: var(--light-gray);
}

.btn:active {
    box-shadow: 0 0 0 2px var(--darkest-orange);
}

/* .btn:focus {
    box-shadow: 0 0 0 2px var(--orange);
    border-color: transparent;
    background-color: var(--light-gray);
} */

/* radio button */
/* .radio-button {
    box-shadow: inset 0 0 0 1px var(--dark-gray);
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    transition: box-shadow .2s;
} */

/* .radio-button:hover {
    background-color: var(--light-gray);
    box-shadow: 0 0 0 2px var(--orange);
}

.radio-button:active {
    box-shadow: inset 0 0 0 2px var(--darkest-orange);
}

.radio-button:checked {
    box-shadow: inset 0 0 0 2px var(--orange);
} */

/* .radio-button:focus {
    background-color: var(--light-gray);
    box-shadow: inset 0 0 0 2px var(--orange);
} */

/* .radio-button.checked {
    box-shadow: inset 0 0 0 2px var(--orange);
} */

/* HEADER */
.header {
    background-color: var(--body);
    height: 80px;
}

.main-page__header-block {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: var(--header-z);
}

.header__inner {
    display: flex;
    align-items: center;
}

.header__logo {
    padding: 15px 0;
}

.logo--header {
    height: 40px;
    cursor: pointer;
    transition: opacity .2s linear;
}

.logo--header:hover {
    opacity: .8;
}

.header__cart {
    position: relative;

    width: 40px;
    height: 40px;
    margin-left: auto;
}

.header__cart::after {
    content: attr(data-products);

    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    transform: translate(50%, -40%);

    width: 20px;
    height: 20px;

    display: none;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    line-height: 14px;
    color: var(--body);
    text-align: center;

    border-radius: 50%;
    background-color: var(--orange);
}

.header__cart.active::after {
    display: flex;
}

.cart__icon {
    width: 100%;
    height: 100%;
    
    fill: var(--black);
}

/* MAIN */
.main-page__main-block {
    margin-top: 80px;
}

/* BREADCRUMBS */
.breadcrumbs {
    display: flex;
    column-gap: 4px;
    align-items: center;
}

.breadcrumb {
    position: relative;
    margin-right: 20px;
    padding: 8px 0;
}

.breadcrumb::after {
    content: '>';

    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(18px, -50%);

    color: inherit;
}

.breadcrumb:last-child {
    margin-right: 0;
}

.breadcrumb:last-child::after {
    display: none;
}

/* PRODUCT CARD */
.product__name {
    font-size: 32px;
    margin-bottom: var(--gutter);
}

.product__gallery {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;

    list-style: none;

    margin-bottom: var(--gutter);
}

.product__gallery-item {
    height: 400px;
}

.product__gallery-img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.product__columns {
    display: grid;
    grid-template-columns: 1fr 420px;
    column-gap: 100px;
}

/* PRODUCT. LEFT COLUMN */
.product__column--left {
    display: flex;
    flex-direction: column;
    row-gap: var(--gutter);
}

/* product properties */
.product__properties {
    display: flex;
    flex-direction: column;
    row-gap: var(--gutter);
}

.property {
    display: flex;
    flex-direction: column;
    row-gap: var(--h-gutter);
}

.property__capttion {
    margin-bottom: var(--h-gutter);
}

.property__buttons {
    display: flex;
    column-gap: 10px;
    list-style: none;
}

.property__button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    cursor: pointer;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px var(--dark-gray);
    background-color: transparent;

    transition: box-shadow .2s;
}

.buttons__item {
    width: 80px;
    height: 80px;
}

.property__item {
    width: 100%;
    height: 100%;
}

.property__button:hover {
    background-color: var(--light-gray);
}

.property__button:active {
    box-shadow: inset 0 0 0 2px var(--darkest-orange);
}

.property__button:checked {
    box-shadow: inset 0 0 0 2px var(--orange);
}

/* .property__button:focus {
    background-color: var(--light-gray);
    box-shadow: inset 0 0 0 2px var(--orange);
} */


/* property color */
.property--color {
    border: none;
}

.property__color-button {
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: -1;
}

.property__image {
    height: 60px;
}

.property__image::selection {
    background: transparent;
} 

/* property memory */
.property--memory {
    border: none;
}

.property__memory-button {
    font-weight: 500;
    padding: 10px 20px;
    appearance: none;
}

.property__memory-button:nth-of-type(1)::after {
    content: '128 ГБ'
}
.property__memory-button:nth-of-type(2)::after {
    content: '256 ГБ'
}
.property__memory-button:nth-of-type(3)::after {
    content: '512 ГБ'
}

/* property features */
.property__features-list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.property__feature::marker {
    font-size: 20px;
    color: var(--dark-gray);
}

/* DESCRIPTIONS */
.description__title {
    margin-bottom: var(--h-gutter);
}

.description__body {
    display: flex;
    flex-direction: column;
    row-gap: var(--h-gutter);
}

.description__body-paragraph {
    margin: 0;
}

/* COMPARISING */
.comparing__table {
    width: 100%;
    border: 1px solid var(--dark-gray);
    border-collapse: collapse;
    overflow: hidden;
}

.table__caption {
    text-align-last: left;
    margin-bottom: var(--h-gutter);
}

.table__row:hover {
    background-color: var(--light-gray);
}

.table__row--head {
    pointer-events: none;
}

.table__cell--head {
    border: 1px solid var(--dark-gray);
}

.comparing__table .table__cell + .table__cell {
    border-left: 1px solid var(--dark-gray);
}

.table__cell {
    vertical-align: middle;
    text-align: center;
    padding: 10px;
}


/* REVIEWs */
.reviews__header {
    display: flex;
    margin-bottom: 25px;
}

.reviews__counter {
    font-size: 24px;
}

.reviews__counter-value {
    color: var(--dark-gray);
}

.reviews__add-review-btn {
    padding: 10px 20px;
    font-weight: 500;
    border: 1px solid var(--dark-gray);
    margin-left: auto;
}

.reviews__body {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.review {
    display: flex;
    column-gap: var(--gutter);
}

.review__body {
    padding-bottom: 40px;
    border-bottom: 1px dashed var(--dark-gray);
}

.review:last-child .review__body {
    border-bottom: none;
}

.review__avatar {
    border-radius: 50%;
    height: 140px;
    aspect-ratio: 1 / 1;
}

.review__avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* REVIEW BODY */
.review__name {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
}

.review__rating {
    margin-bottom: 20px;
}

.review__content {
    font-size: 14px;

    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

/* RATING */
.rating {
    border: none;
}

.rating__stars {
    position: relative;
    width: calc(var(--star-size) * 5);
    height: var(--star-size);
    background-image: url("../images/product-card/reviews/star.svg");
    background-repeat: repeat-x;
    background-size: var(--star-size) auto;
}

.rating__star {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--star-size);
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-size: var(--star-size) auto;
    background-repeat: repeat-x;
}

.rating__star:focus {
    outline: none;
}

.rating__star:checked {
    background-image: url("../images/product-card/reviews/star-active.svg");
}

/* .rating__star:hover ~ .rating__star {
    background-image: url("../images/product-card/reviews/star.svg");
} */

.rating__star:nth-of-type(1) {
    width: var(--star-size);
    z-index: 5;
}

.rating__star:nth-of-type(2) {
    width: calc(var(--star-size) * 2);
    z-index: 4;
}

.rating__star:nth-of-type(3) {
    width: calc(var(--star-size) * 3);
    z-index: 3;
}

.rating__star:nth-of-type(4) {
    width: calc(var(--star-size) * 4);
    z-index: 2;
}

.rating__star:nth-of-type(5) {
    width: calc(var(--star-size) * 5);
    z-index: 1;
}

.rating--disabled .rating__star {
    pointer-events: none;
}

/* REVIEWS FORM */
.reviews__form {
    margin-top: 20px;
    /* avatar height + column gap */
    margin-left: calc(140px + var(--gutter));
    margin-bottom: 100px;
}

.form__group {
    border: none;
}

.form__caption {
    font-weight: 700;
    margin-bottom: var(--h-gutter);
}

.form__inputs {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter);
}

.form__input-wrapper {
    position: relative;
    width: calc(70% - var(--gutter));
}

.form__input-wrapper--rating {
    width: 30%;
}

.error-text {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;

    display: none;

    width: 100%;
    padding: 8px 20px;

    font-size: 12px;
    line-height: 14.5px;
    font-weight: 500;
    color: var(--white);
    background-color: var(--dark-orange);
}

.error-text.active {
    display: inline-block;
}

.input {
    font-weight: 500;
    width: 100%;
    padding: 15px 20px;
    border: 1px solid var(--dark-gray);
    background-color: transparent;
    transition: border-color .2s linear;
}

.input::placeholder {
    color: var(--dark-gray);
    opacity: 1;
}

.form__textarea {
    resize: vertical;
    min-height: 190px;
    max-height: 290px;
}

.input:hover,
.input:focus {
    border-color: var(--black);
}

.input:invalid {
    border-color: var(--dark-orange);
}

.input:invalid:focus {
    outline: none;
}

.form__button {
    color: var(--white);
    padding: 10px 20px;
    background-color: var(--orange);
}

.form__button:hover {
    background-color: var(--dark-orange);
}

.form__button:disabled {
    pointer-events: none;
    background-color: var(--dark-gray);
}

/* PRODUCT. RIGHT COLUMN */
.product__column--right {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.product__order {
    padding: 20px;
    background-color: var(--white);
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    row-gap: var(--h-gutter);
    position: relative;
}

.add-to-favorite-btn {
    position: absolute;
    top: 20px;
    right: 20px;

    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
}

.add-to-favorite-btn__icon {
    width: 100%;
    height: 100%;
    fill: var(--dark-gray);
    transition: fill .15s;
}

.add-to-favorite-btn:hover .add-to-favorite-btn__icon {
    fill: var(--orange);
}

.add-to-favorite-btn:active .add-to-favorite-btn__icon {
    fill: var(--darkest-orange);
}

.add-to-favorite-btn.added .add-to-favorite-btn__icon{
    fill: var(--orange);
}

.product__price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.price__value {
    font-weight: 500;
    line-height: 16px;
    text-decoration: line-through;

    color: var(--dark-gray);
}

.price__discount {
    padding: 4px 8px;
    background-color: var(--orange);
    border-radius: 500px;
    color: var(--white);
    font-weight: 500;
    line-height: 16px;
}

.price__total {
    width: 100%;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    display: block;
}

.product__delivery {
    margin-bottom: 20px;
}

.product__delivery p {
    line-height: 19px;
    margin-bottom: 10px;
}

.add-to-bucket-btn {
    font-size: 20px;
    line-height: 24.2px;
    color: var(--white);
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;

    background-color: var(--orange);
}

.add-to-bucket-btn::before {
    content: url('../images/order/cart.svg');
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.add-to-bucket-btn:hover {
    background-color: var(--dark-orange);
}

.add-to-bucket-btn:active {
    box-shadow: initial;
    background-color: var(--darkest-orange);
}

.add-to-bucket-btn:disabled {
    pointer-events: none;
    background-color: var(--dark-gray);
}

/* advertisement */
.ad {
    display: flex;
    flex-direction: column;
    row-gap: var(--h-gutter);
}

.ad__title {
    font-size: 14px;
    color: var(--dark-gray);
}

.ad__item {
    height: 300px;
    border: 1px dashed #ccc;
}

/* FOOTER */
.footer {
    background-color: var(--light-gray);
}

.main-page__footer-block {
    margin-top: auto;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__content {
    font-size: 14px;
    padding: 30px 0;
}

.copyright {
    font-weight: bold;
}

.copyright__logo span {
    color: var(--orange);
}

.footer__text {
    margin-bottom: 0;
}

.to-top-btn--footer {
    display: inline-block;
    margin-left: auto;
}

/* media */
/* tablet */
@media (min-width: 1024px) and (max-width: 1499.99px) {
    :root {
        --star-size: 20px;
    }
    .container {
        max-width: 1024px;
        padding: 0 var(--h-gutter);
    }
    .product__gallery-item {
        height: 270px;
    }
    .product__columns {
        grid-template-columns: 1fr 360px;
        column-gap: 40px;
    }
    .comparing {
        display: none;
    }
    .review__avatar {
        height: 100px;
    }
    .reviews__form {
        margin-left: 0;
        margin-bottom: 80px;
    }
    .form__textarea {
        resize: none;
    }
}
/* iPhone 13 PRO */
@media (max-width: 480px) {
    :root {
        --star-size: 20px;
        --gutter: 20px;
    }
    .container {
        max-width: 460px;
        padding: 0 10px;
    }
    .header__logo {
        padding: 8px 0;
    }
    .breadcrumb {
        display: none;
    }
    .product__name {
        font-size: 23px;
        margin-bottom: 10px;
    }
    .product__gallery {
       overflow-x: scroll;
    }
    .product__gallery-item {
        height: 270px;
        flex-shrink: 0;
    }
    .product__columns {
        grid-template-columns: initial;
        column-gap: 0;
    }
    .product__column--left {
        row-gap: 40px;
    }
    .product__properties {
        row-gap: 30px;
    }
    .property__caption {
        margin-bottom: var(--gutter);
    }
    .product__column--right {
        margin-bottom: var(--gutter);
    }
    .product__delivery {
        font-size: 14px;
        margin-bottom: 0;
    }
    .add-to-bucket-btn {
        padding: 15px 30px;
    }
    .property__color-buttons {
        justify-content: space-between;
        column-gap: 5px;
    }
    .property__color-item {
        width: 60px;
        height: 60px;
    }
    .comparing {
        display: none;
    }
    .reviews__body {
        padding-bottom: 20px;
        row-gap: 20px;
    }
    .review {
        flex-direction: column;
    }
    .review__body {
        padding-bottom: 20px;
    }
    .review__avatar {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
    }
    .reviews__form {
        margin-left: 0;
        margin-bottom: 60px;
    }
    .form__input,
    .form__textarea {
        border-radius: 4px;
    }
    .form__textarea {
        resize: none;
    }
    .footer__inner {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column ;
    }
    .footer__content {
        font-size: 12px;
        padding: 20px 0;
    }
    .copyright {
        display: inline-block;
        margin-bottom: 8px;
    }
    .footer__text {
        line-height: 18px;
    }
    .to-top-btn--footer {
        margin-left: 0;
        margin-bottom: 10px;
        padding: 8px 10px;
        background-color: #fff;
    }
}