.review {
    display: flex;
    column-gap: var(--gutter);
}

.review__body {
    padding-bottom: 40px;
    border-bottom: 1px dashed var(--dark-gray);
}

.review:last-child .review__body {
    border-bottom: none;
}

.review__avatar {
    border-radius: 50%;
    height: 140px;
    aspect-ratio: 1 / 1;
}

.review__avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* REVIEW BODY */
.review__name {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
}

.review__rating {
    margin-bottom: 20px;
}

.review__content {
    font-size: 14px;

    display: flex;
    flex-direction: column;
    row-gap: 10px;
}