/* media */
/* tablet */
@media (min-width: 1024px) and (max-width: 1499.99px) {
    :root {
        --star-size: 20px;
    }
    .container {
        max-width: 1024px;
        padding: 0 var(--h-gutter);
    }
    .product__gallery-item {
        height: 270px;
    }
    .product__columns {
        grid-template-columns: 1fr 360px;
        column-gap: 40px;
    }
    .comparing {
        display: none;
    }
    .review__avatar {
        height: 100px;
    }
    .reviews__form {
        margin-left: 0;
        margin-bottom: 80px;
    }
    .form__textarea {
        resize: none;
    }
}
/* iPhone 13 PRO */
@media (max-width: 480px) {
    :root {
        --star-size: 20px;
        --gutter: 20px;
    }
    .container {
        max-width: 460px;
        padding: 0 10px;
    }
    .header__logo {
        padding: 8px 0;
    }
    .breadcrumb {
        display: none;
    }
    .product__name {
        font-size: 23px;
        margin-bottom: 10px;
    }
    .product__gallery {
       overflow-x: scroll;
    }
    .product__gallery-item {
        height: 270px;
        flex-shrink: 0;
    }
    .product__columns {
        grid-template-columns: initial;
        column-gap: 0;
    }
    .product__column--left {
        row-gap: 40px;
    }
    .product__properties {
        row-gap: 30px;
    }
    .property__caption {
        margin-bottom: var(--gutter);
    }
    .product__column--right {
        margin-bottom: var(--gutter);
    }
    .product__delivery {
        font-size: 14px;
        margin-bottom: 0;
    }
    .add-to-bucket-btn {
        padding: 15px 30px;
    }
    .property__color-buttons {
        justify-content: space-between;
        column-gap: 5px;
    }
    .property__color-item {
        width: 60px;
        height: 60px;
    }
    .comparing {
        display: none;
    }
    .reviews__body {
        padding-bottom: 20px;
        row-gap: 20px;
    }
    .review {
        flex-direction: column;
    }
    .review__body {
        padding-bottom: 20px;
    }
    .review__avatar {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
    }
    .reviews__form {
        margin-left: 0;
        margin-bottom: 60px;
    }
    .form__input,
    .form__textarea {
        border-radius: 4px;
    }
    .form__textarea {
        resize: none;
    }
    .footer__inner {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column ;
    }
    .footer__content {
        font-size: 12px;
        padding: 20px 0;
    }
    .copyright {
        display: inline-block;
        margin-bottom: 8px;
    }
    .footer__text {
        line-height: 18px;
    }
    .to-top-btn--footer {
        margin-left: 0;
        margin-bottom: 10px;
        padding: 8px 10px;
        background-color: #fff;
    }
}