.comparing__table {
    width: 100%;
    border: 1px solid var(--dark-gray);
    border-collapse: collapse;
    overflow: hidden;
}

.table__caption {
    text-align-last: left;
    margin-bottom: var(--h-gutter);
}

.table__row:hover {
    background-color: var(--light-gray);
}

.table__row--head {
    pointer-events: none;
}

.table__cell--head {
    border: 1px solid var(--dark-gray);
}

.comparing__table .table__cell + .table__cell {
    border-left: 1px solid var(--dark-gray);
}

.table__cell {
    vertical-align: middle;
    text-align: center;
    padding: 10px;
}