.product__gallery {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;

    list-style: none;

    margin-bottom: var(--gutter);
}

.product__gallery-item {
    height: 400px;
}

.product__gallery-img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}