/* MAIN */
.main-page__main-block {
    margin-top: 80px;
}

/* PRODUCT CARD */
.product__columns {
    display: grid;
    grid-template-columns: 1fr 420px;
    column-gap: 100px;
}

/* PRODUCT. LEFT COLUMN */
.product__column--left {
    display: flex;
    flex-direction: column;
    row-gap: var(--gutter);
}

/* product properties */
.product__properties {
    display: flex;
    flex-direction: column;
    row-gap: var(--gutter);
}

.property {
    display: flex;
    flex-direction: column;
    row-gap: var(--h-gutter);
}

.property__buttons {
    display: flex;
    column-gap: 10px;
    list-style: none;
}

.property__button {
    border: 1px solid var(--dark-gray);
    border-radius: 4px;
    background-color: transparent;
}

.property__button.active {
    border: 2px solid var(--orange);
}

.property__button:hover {
    background-color: var(--light-gray);
}

.property__button:active {
    border: 2px solid var(--darkest-orange);
}

/* property features */
.property__features-list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.property__feature::marker {
    font-size: 20px;
    color: var(--dark-gray);
}

/* DESCRIPTIONS */
.description__title {
    margin-bottom: var(--h-gutter);
}

.description__body {
    display: flex;
    flex-direction: column;
    row-gap: var(--h-gutter);
}

.description__body-paragraph {
    margin: 0;
}

/* PRODUCT. RIGHT COLUMN */
.product__column--right {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

/* advertisement */
.ad {
    display: flex;
    flex-direction: column;
    row-gap: var(--h-gutter);
}

.ad__title {
    font-size: 14px;
    color: var(--dark-gray);
}

.ad__item {
    height: 300px;
    border: 1px dashed #ccc;
}