/* BREADCRUMBS */
.breadcrumbs {
    display: flex;
    column-gap: 4px;
    align-items: center;
}

.breadcrumb {
    position: relative;
    margin-right: 20px;
    padding: 8px 0;
}

.breadcrumb::after {
    content: '>';

    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(18px, -50%);

    color: inherit;
}

.breadcrumb:last-child {
    margin-right: 0;
}

.breadcrumb:last-child::after {
    display: none;
}